* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: clip;
}

/* header section css */
.header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f2537;
  position: fixed;
  width: 100%;
  top: 0;
}

.header h1 {
  color: #fff;
  font-family: initial;
  margin: 0;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-list {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: 0px;
  padding: 0;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: white;
  transition: all 0.3s;
  font-family: emoji;
}

.navbar-link:hover,
.navbar-link:active {
  color: cadetblue;
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.fa-bars,
.fa-xmark {
  font-size: 2rem;
  color: white;
}
.mobile-nav-icon[name="close-outline"] {
  display: none;
}
.resume-link {
  color: rgb(69, 213, 218);
  font-weight: 600;
  text-decoration: none;
  font-family: emoji;
  font-size: 18px;
  transition: all 0.3s;
}
.resume-link:hover {
  color: #fff;
}
/* bio css */
.section_two {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #0f2537;
  padding: 5rem 0rem;
}
.section_two img,
.bio {
  width: 50%;
  margin: 1rem;
}
.section_two img {
  animation: floatImage 4s ease-in-out infinite;
}
/* typed animation */
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
  }
}
.bio h1,
h3 {
  color: white;
}

.bio h4 {
  color: #f1f1f1;
}
/* typed animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.typed-text {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(40) infinite alternate;
}
.bioPara {
  font-size: 17px;
  font-family: monospace;
  padding: 1rem 0rem;
  line-height: 35px;
  color: rgb(69, 213, 218);
  font-weight: 600;
}

.contact-link {
  margin: 2rem 0rem;
  background: rgba(255, 255, 255, 0.08);
  width: 340px;
  padding: 15px;
}
.contact-link p {
  margin: 0;
  padding: 0;
}

.contact-link a {
  font-size: 17px;
  font-family: monospace;
  color: rgb(69, 213, 218);
  font-weight: 600;
  text-decoration: none;
}
.contact-link a:hover {
  text-decoration: underline;
  color: rgb(69, 213, 218);
}
.social-media a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: 0.2em solid cadetblue;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #fff;
}
.social-media a:hover {
  color: #fff;
  background: cadetblue;
}

.socialMedia-icon {
  width: 50%;
}

.resume-section p a {
  margin-top: 1.5rem;
  background-color: rgb(69, 213, 218);
  box-shadow: 2px 0px 14px rgb(69, 213, 218);
  border-radius: 4rem;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.1rem;
  padding: 10px 20px;
  transition: 0.5s ease;
}

.resume-section p a:hover {
  color: rgb(69, 213, 218);
  background-color: #fff;
  text-decoration: none;
  box-shadow: 2px 0px 14px #fff;
}

/* about css */
.section_about {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  background-color: #0f2537;
  padding: 1rem;
  gap: 2rem;
  padding-top: 4rem;
}

.about-container h2 {
  color: #fff;
  font-size: 2.5rem;
  padding: 1rem 0rem 0rem;
}

.about-container span {
  color: rgb(69, 213, 218);
}

.aboutPara {
  color: #fff;
  font-size: 14px;
  padding: 1rem 0rem 0rem;
}
.about-img,
.about-container {
  width: 50%;
}
.about-img img {
  width: 100%;
  animation: floatImage 4s ease-in-out infinite;
}

/* typed animation */
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
  }
}
.aboutCard {
  width: "100%";
  height: 500px;
  overflow: hidden;
}
.aboutCard {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 2px 0px 10px rgb(69, 213, 218);
}
.card-content {
  padding: 20px;
  height: 100%;
  overflow: auto;
}
.card-content::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Experience and education */

.section_exp_edu {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  background-color: #0f2537;
  padding: 1rem;
  gap: 2rem;
  padding-top: 4rem;
}
.expCard {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgb(69, 213, 218);
}
.exp-container h2 {
  color: #fff;
  font-size: 2.5rem;
  padding: 1rem 0rem 0rem;
}
.exp-container span {
  color: rgb(69, 213, 218);
}

.exp_and_edu {
  display: flex;
  margin: 1rem;
}
.aboutexp,
.aboutedu {
  color: white;
  margin-top: 1rem;
}

.professional_exp,
.professional_edu {
  padding: 1rem;
  width: 50%;
}
.exp_heading {
  display: flex;
  align-items: center;
}
.exp_heading h3 {
  font-family: cursive;
  margin: 0rem 0.4rem;
  color: moccasin;
}

.work_company_section {
  border-left: 1px solid rgb(69, 213, 218);
  padding-left: 1rem;
}

.education_section {
  border-left: 1px solid rgb(69, 213, 218);
  padding-left: 1rem;
}

.company {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2rem;
}
.company h5 {
  color: antiquewhite;
  border-bottom: 1px solid antiquewhite;
}
.work_date p {
  font-size: 16px;
  background: #effbf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  color: #34b7a7;
}

.edu_img {
  margin: 1.5rem 0rem;
  display: flex;
  justify-content: center;
  border-left: 1px solid rgb(69, 213, 218);
}

.contact-info h2 {
  color: white;
}
.contact-info span {
  color: rgb(69, 213, 218);
}

/* project css */
.section_project {
  background-color: #0f2537;
  padding-top: 5rem;
}

.section_project h1 {
  text-align: center;
  color: #fff;
}

.section_project span {
  color: rgb(69, 213, 218);
}

.project_container {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.card-b {
  background-color: rgb(0, 0, 0, 0.1);
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: 2px 0px 14px rgb(69, 213, 218);
}

.card-b:hover {
  box-shadow: 2px 0px 14px #fff;
}

.card-para {
  color: #fff;
  width: 265px;
}

.title-color {
  color: rgb(69, 213, 218);
}

.view-button {
  background-color: rgb(69, 213, 218);
  box-shadow: 2px 0px 14px rgb(69, 213, 218);
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  letter-spacing: 0.1rem;
  padding: 10px;
  transition: 0.5s ease;
  text-decoration: none;
  font-family: initial;
}

.view-button:hover {
  background-color: #fff;
  color: rgb(69, 213, 218);
  box-shadow: 2px 0px 14px #fff;
}

.align-center {
  text-align: center;
}

/* contact css */
.contact_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #0f2537;
  padding: 5rem 0rem;
  gap: 2rem;
}
.contact_sec {
  width: 50%;
}
.contact_sec h1 {
  color: #fff;
}

.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.contact-section img {
  animation: floatImage 4s ease-in-out infinite;
}

/* typed animation */
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
  }
}

.section_contact {
  background-color: #0f2537;
  padding-top: 5rem;
}

.about-contact h1 {
  color: #fff;
  padding: 10px;
}

.about-contact span {
  color: rgb(69, 213, 218);
}

.social-media-contact img {
  width: 10%;
  margin: 10px 5px 10px 0px;
}

.social-media-contact img:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
  cursor: pointer;
}

/* footer section */
.footer {
  background-color: #0f2537;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.4px solid #afacac;
}
.footer P {
  color: #fff;
  margin: 0px;
  font-size: 1rem;
}
.footer-icontop a {
  color: #fff;
  background-color: rgb(69, 213, 218);
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 2px 0px 14px rgb(69, 213, 218);
  transition: 0.5s ease-in;
}
.footer-icontop a:hover {
  color: rgb(69, 213, 218);
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 2px 0px 14px #fff;
}

/* Breakpoints Adding Media Query for respnsive design */

@media (max-width: 1200px) {
  html {
    font-size: 70%;
  }
  .card-para {
    width: 100%;
  }
}

@media (max-width: 980px) {
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
  }
  .nav-display {
    width: 100%;
    height: 100vh;
    background: #0f2537;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .navbar-list {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .active .nav-display {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  /* main content responsive */
  .header {
    padding: 2rem;
    border-bottom: 2px solid white;
  }
  .fa-bars,
  .fa-xmark {
    font-size: 3rem;
  }
  .section_two {
    flex-direction: column;
    padding: 8rem 0rem;
  }
  .section_two .bio,
  .about-container {
    width: 100%;
  }
  .social-media a {
    width: 6rem;
    height: 6rem;
  }
  .section_about {
    flex-direction: column;
    padding-top: 0rem;
  }
  .section_project {
    padding-top: 10rem;
  }
  .project_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-b {
    width: 100% !important;
    margin: 10px;
  }
  .contact_container {
    flex-direction: column;
  }
  .hero-container {
    width: 100%;
    padding: 1rem;
  }
  .footer-icontop a {
    padding: 5px 10px;
    border-radius: 5px;
  }
  .footer-icontop a:hover {
    padding: 5px 10px;
    border-radius: 5px;
  }
  .section_two img {
    width: 100%;
    padding: 1rem;
  }
  .exp_and_edu {
    display: block;
  }
  .professional_exp,
  .professional_edu {
    width: 100%;
  }
  .contact-section {
    width: 100%;
  }
  .contact_sec {
    width: 100%;
    padding: 1rem;
  }
  .contact-link {
    width: 100%;
  }
  .social-media {
    display: flex;
    justify-content: space-evenly;
  }
  .socialMedia-icon {
    width: 100%;
  }
  .resume-section p a {
    margin-top: 3rem;
    padding: 10px 10px;
    width: 250px;
    text-align: center;
  }
  .resume-section {
    display: flex;
    justify-content: center;
  }
}
